
/* Fonts
   ----------------------------- */
$fontPrimary: "Trebuchet MS";

$fontSideNav: 'Muli', sans-serif;

// $fontSecondary: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

// @font-face {
//     font-family: "Trebuchet MS";
//     src: url(../../fonts/Trebuchet-MS.ttf);
// }

@import url('https://fonts.googleapis.com/css?family=Muli');



/* Colors
   ----------------------------- */
$colorDarkGray: #414042;

$hoverGray: #999999;



